# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config_gkey import gkey
gmaps.configure(api_key=gkey)

In [2]:
#Test to see that maps are working
m = gmaps.Map()
m

Map(configuration={'api_key': 'AIzaSyBNpxvtigvyUHAIfmwMG80Y82UeHCLNU1M'}, data_bounds=[(46.2, 6.1), (47.2, 7.1…

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#Read in csv file from Weather_Py.
Weather_Data_to_load = "weather_Final_DataFrame.csv"
Weather_Data = pd.read_csv(Weather_Data_to_load)
Weather_Data.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,grand gaube,-20.01,57.66,71.01,72.0,3.0,5.99,MU
1,1,hermanus,-34.42,19.23,48.00,78.0,88.0,5.99,ZA
2,2,barrow,71.29,-156.79,50.00,76.0,1.0,19.46,US
3,3,magnolia,33.27,-93.24,93.00,46.0,23.0,4.00,US
4,4,busselton,-33.65,115.33,52.00,82.0,96.0,14.36,AU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#Use Latitude and Longitude from the DataFrame and use humidity as the weight on th heat map
locations = Weather_Data[["Latitude", "Longitude"]]
humidity = Weather_Data["Humidity"]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=3)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
Perfet_Weather = Weather_Data.loc[(Weather_Data["Max Temp"]<90) & (Weather_Data["Max Temp"]>65) &\
                                  (Weather_Data["Humidity"]<40) &(Weather_Data["Wind Speed"]<10) & \
                                  (Weather_Data["Cloudiness"]<40)]

len(Perfet_Weather)

13

In [6]:
Perfet_Weather

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country
34,35,kamina,-8.74,24.99,67.59,26.0,0.0,1.95,CD
90,96,baghdad,33.34,44.40,78.80,34.0,0.0,5.82,IQ
102,108,hami,42.80,93.45,73.49,21.0,0.0,8.84,CN
105,112,fairbanks,64.84,-147.72,69.80,32.0,1.0,6.93,US
121,128,musenita,47.97,26.00,68.00,10.0,37.0,3.11,RO
201,221,humaita,-7.51,-63.02,86.38,29.0,34.0,1.30,BR
207,227,mackay,-21.15,149.20,70.00,26.0,0.0,5.82,AU
241,263,ankara,39.92,32.85,69.80,32.0,0.0,3.36,TR
287,312,do gonbadan,30.36,50.80,80.60,26.0,0.0,0.29,IR
405,441,jiuquan,39.74,98.52,65.34,25.0,0.0,7.65,CN
461,501,charters towers,-20.10,146.27,67.37,30.0,3.0,6.76,AU
490,531,sao felix do xingu,-6.64,-51.99,81.05,31.0,0.0,0.34,BR
533,580,asyut,27.18,31.18,80.60,39.0,0.0,6.93,EG

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = pd.DataFrame(Perfet_Weather)

hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
34,35,kamina,-8.74,24.99,67.59,26.0,0.0,1.95,CD,
90,96,baghdad,33.34,44.40,78.80,34.0,0.0,5.82,IQ,
102,108,hami,42.80,93.45,73.49,21.0,0.0,8.84,CN,
105,112,fairbanks,64.84,-147.72,69.80,32.0,1.0,6.93,US,
121,128,musenita,47.97,26.00,68.00,10.0,37.0,3.11,RO,
201,221,humaita,-7.51,-63.02,86.38,29.0,34.0,1.30,BR,
207,227,mackay,-21.15,149.20,70.00,26.0,0.0,5.82,AU,
241,263,ankara,39.92,32.85,69.80,32.0,0.0,3.36,TR,
287,312,do gonbadan,30.36,50.80,80.60,26.0,0.0,0.29,IR,
405,441,jiuquan,39.74,98.52,65.34,25.0,0.0,7.65,CN,
461,501,charters towers,-20.10,146.27,67.37,30.0,3.0,6.76,AU,
490,531,sao felix do xingu,-6.64,-51.99,81.05,31.0,0.0,0.34,BR,
533,580,asyut,27.18,31.18,80.60,39.0,0.0,6.93,EG,

In [8]:
#Practice code to try  for 1 location
# geocoordinates
target_coordinates = "-8.74, 24.99"
target_radius = 8000
target_type = "lodging"

# set up a parameters dictionary
someparams = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=someparams)
# convert response to json
hotels_data = response.json()
First_Hotel = hotels_data["results"][0]["name"]
print(json.dumps(First_Hotel, indent = 4, sort_keys = True))

"Guest House la Grace"

In [9]:
#Loop through rows in DataFrame based on the index.  Include print statements to check to see if the code is 
#running properly

target_radius = 5000
target_type = "lodging"
request_count = 0
for index, row in hotel_df.iterrows():
    try:
        someparams = {
            "location": target_coordinates,
            "radius": target_radius,
            "type": target_type,
            "key":gkey
        }
        target_coordinates = hotel_df.at[index, "Latitude"].astype(str) + ", " + hotel_df.at[index, "Longitude"].astype(str)
        someparams["location"] = target_coordinates
    
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        response = requests.get(base_url, params=someparams)
        hotels_data = response.json()
        request_count= request_count+1
        print(f"Request {request_count} is being processed")
        print(hotel_df.at[index, "City"])
        hotel_df.loc[index, "Hotel Name"] = hotels_data["results"][0]["name"]
        continue
    except:
        print(f"There are no hotels for {hotel_df.at[index, 'City']} with your search criteria")
        hotel_df.loc[index, "Hotel Name"] = "None"

Request 1 is being processed
kamina
Request 2 is being processed
baghdad
Request 3 is being processed
hami
Request 4 is being processed
fairbanks
Request 5 is being processed
musenita
Request 6 is being processed
humaita
Request 7 is being processed
mackay
Request 8 is being processed
ankara
Request 9 is being processed
do gonbadan
Request 10 is being processed
jiuquan
Request 11 is being processed
charters towers
Request 12 is being processed
sao felix do xingu
Request 13 is being processed
asyut

In [10]:
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
34,35,kamina,-8.74,24.99,67.59,26.0,0.0,1.95,CD,Guest House la Grace
90,96,baghdad,33.34,44.40,78.80,34.0,0.0,5.82,IQ,Baghdad Hotel
102,108,hami,42.80,93.45,73.49,21.0,0.0,8.84,CN,Laoyutang Resort
105,112,fairbanks,64.84,-147.72,69.80,32.0,1.0,6.93,US,Westmark Fairbanks Hotel & Conference Center
121,128,musenita,47.97,26.00,68.00,10.0,37.0,3.11,RO,The Frontier Hotel Romania
201,221,humaita,-7.51,-63.02,86.38,29.0,34.0,1.30,BR,Corrêa Hotel
207,227,mackay,-21.15,149.20,70.00,26.0,0.0,5.82,AU,International Lodge Motel
241,263,ankara,39.92,32.85,69.80,32.0,0.0,3.36,TR,Sheraton Ankara Hotel & Convention Center
287,312,do gonbadan,30.36,50.80,80.60,26.0,0.0,0.29,IR,مهمانسرا و تالار فرهنگیان شهرستان گچساران
405,441,jiuquan,39.74,98.52,65.34,25.0,0.0,7.65,CN,Jiuquan Hotel
461,501,charters towers,-20.10,146.27,67.37,30.0,3.0,6.76,AU,Cattleman's Rest Motor Inn
490,531,sao felix do xingu,-6.64,-51.99,81.05,31.0,0.0,0.34,BR,Apart Hotel Rio Xingu
533,580,asyut,27.18,31.18,80.60,39.0,0.0,6.93,EG,Florence Hotel Assiut

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [12]:
# Add marker layer ontop of heat map

humidity = hotel_df["Humidity"]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=3)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))